.loaderContainer{
    position: absolute;
    left: 50%;
    top: 30%;

    p{
        margin-top: 20px;
        position: relative;
        right: 20%;
    }

    .loader {
        animation: is-rotating 1s infinite;
        border: 6px solid #e5e5e5;
        border-radius: 50%;
        border-top-color: #51d4db;
        height: 50px;
        width: 50px;
      }
      
      @keyframes is-rotating {
        to {
          transform: rotate(1turn);
        }
      }
}
